<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarization</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Text Summarization</h1>
        <form id="text-form" method="post">
            <div class="form-group">
                <label for="inputText">Enter Text</label>
                <textarea class="form-control" id="inputText" name="input_text" rows="6" placeholder="Enter your text here"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Summarize</button>
        </form>
        <div class="mt-4">
            <h2>Predicted Summary:</h2>
            <p id="predicted-summary"></p>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('#text-form').on('submit', function(event){
                event.preventDefault();

                $.ajax({
                    url: "/predict",
                    method: "POST",
                    data: $(this).serialize(),
                    success: function(response){
                        $('#predicted-summary').text(response.predicted_summary);
                    }
                });
            });
        });
    </script>
</body>
</html>
